@model IEnumerable<HeathReports.Models.ViewModels.PatientMedicalHistoryViewModel>

@{
    ViewData["Title"] = "PatientDetails";
}

<h1>PatientDetails</h1>

<table calss="Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCondition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalCondition)
            </td>
            
        </tr>
}
    </tbody>
</table>

@* <script>
    $(document).ready(function () {
        $('#table').DataTable();
    })
</script> *@